/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor

#ENV FILE
*.env
.env
/.env
.env.backup

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/composer.lock
/.rnd